{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
//    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],

  },
  "plugins": ["prettier"]
}